@using Vseller.Models
@model Usuario

@if (ViewBag.Error != "")
{
    <p>@ViewBag.Error</p>
}

@using (Html.BeginForm("Logueo", "Home", FormMethod.Post))
{
    <p>Username</p> @Html.TextBoxFor(model => model.Username) @Html.ValidationMessageFor(model => model.Username)<br />
    <p>Password</p> @Html.PasswordFor(model => model.Contraseña)@Html.ValidationMessageFor(model => model.Contraseña)<br />
    <input type="submit" value="Ingresar">
}
