USE [master]
GO
/****** Object:  Database [VsellerDB]    Script Date: 28/11/2019 08:52:43 ******/
CREATE DATABASE [VsellerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VsellerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\VsellerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VsellerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\VsellerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VsellerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VsellerDB]
GO
USE [VsellerDB]
GO
/****** Object:  User [alumno]    Script Date: 28/11/2019 08:52:43 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[DatosProducto]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosProducto](
	[fkProducto] [int] NOT NULL,
	[fkDetalle] [int] NOT NULL,
	[Descripcion] [varchar](500) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle](
	[idDetalle] [int] IDENTITY(1,1) NOT NULL,
	[Descripción] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Detalle] PRIMARY KEY CLUSTERED 
(
	[idDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[fkTipo] [int] NOT NULL,
	[Foto] [varchar](500) NOT NULL,
	[Nombre] [varchar](500) NOT NULL,
	[Precio] [int] NOT NULL,
	[fkUsuario] [varchar](50) NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo](
	[idTipo] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[Imagen] [varchar](200) NULL,
 CONSTRAINT [PK_Tipo] PRIMARY KEY CLUSTERED 
(
	[idTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Nombre] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Admin] [bit] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DatosProducto] ([fkProducto], [fkDetalle], [Descripcion]) VALUES (2, 1, N'40')
INSERT [dbo].[DatosProducto] ([fkProducto], [fkDetalle], [Descripcion]) VALUES (2, 2, N'Nike')
INSERT [dbo].[DatosProducto] ([fkProducto], [fkDetalle], [Descripcion]) VALUES (2, 3, N'Negro')
SET IDENTITY_INSERT [dbo].[Detalle] ON 

INSERT [dbo].[Detalle] ([idDetalle], [Descripción]) VALUES (1, N'Talle')
INSERT [dbo].[Detalle] ([idDetalle], [Descripción]) VALUES (2, N'Marca')
INSERT [dbo].[Detalle] ([idDetalle], [Descripción]) VALUES (3, N'Color')
SET IDENTITY_INSERT [dbo].[Detalle] OFF
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([idProducto], [fkTipo], [Foto], [Nombre], [Precio], [fkUsuario]) VALUES (2, 1, N'Force.jpg', N'Nike Air Force', 6500, N'lucalong54')
INSERT [dbo].[Producto] ([idProducto], [fkTipo], [Foto], [Nombre], [Precio], [fkUsuario]) VALUES (3, 2, N'NikeAir.jpg', N'Buzo Nike Air', 3000, N'lucalong54')
INSERT [dbo].[Producto] ([idProducto], [fkTipo], [Foto], [Nombre], [Precio], [fkUsuario]) VALUES (4, 1, N'Originals.jpg', N'Adidas Originals', 7000, N'lucalong54')
SET IDENTITY_INSERT [dbo].[Producto] OFF
SET IDENTITY_INSERT [dbo].[Tipo] ON 

INSERT [dbo].[Tipo] ([idTipo], [Descripcion], [Imagen]) VALUES (1, N'Zapatillas', N'zapatilla1.jpg')
INSERT [dbo].[Tipo] ([idTipo], [Descripcion], [Imagen]) VALUES (2, N'Superior', N'buzo.jpg')
INSERT [dbo].[Tipo] ([idTipo], [Descripcion], [Imagen]) VALUES (3, N'Inferior', N'pantalon.jpg')
SET IDENTITY_INSERT [dbo].[Tipo] OFF
INSERT [dbo].[Usuario] ([Nombre], [Username], [Password], [Admin]) VALUES (N'Admin', N'Admin', N'ˆ"Ò¢ïâ1úoÎ[qóÜ|', 1)
INSERT [dbo].[Usuario] ([Nombre], [Username], [Password], [Admin]) VALUES (N'Luca', N'lucalong54', N'ÒxÎÆ|W¸;ßÊ(‰mä‰', 1)
ALTER TABLE [dbo].[DatosProducto]  WITH CHECK ADD  CONSTRAINT [FK_DatosProducto_Detalle] FOREIGN KEY([fkDetalle])
REFERENCES [dbo].[Detalle] ([idDetalle])
GO
ALTER TABLE [dbo].[DatosProducto] CHECK CONSTRAINT [FK_DatosProducto_Detalle]
GO
ALTER TABLE [dbo].[DatosProducto]  WITH CHECK ADD  CONSTRAINT [FK_DatosProducto_Producto] FOREIGN KEY([fkProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[DatosProducto] CHECK CONSTRAINT [FK_DatosProducto_Producto]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Tipo] FOREIGN KEY([fkTipo])
REFERENCES [dbo].[Tipo] ([idTipo])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Tipo]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Usuario] FOREIGN KEY([fkUsuario])
REFERENCES [dbo].[Usuario] ([Username])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[spCargarDatosProducto]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCargarDatosProducto]
@Produc int,
@Detalle int,
@Desc varchar(500)

AS
BEGIN

	insert into DatosProducto values(@Produc,@Detalle,@Desc)
END
GO
/****** Object:  StoredProcedure [dbo].[spCargarDetalle]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCargarDetalle]
@Desc varchar(500)

AS
BEGIN

	insert into Detalle values(@Desc)
END
GO
/****** Object:  StoredProcedure [dbo].[spCargarProducto]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCargarProducto]
@Tipo int,
@Foto varchar(500),
@Nombre varchar(500),
@Usuario varchar(50),
@Precio int

AS
BEGIN

	insert into Producto values(@Tipo,@Foto,@Nombre,@Precio, @Usuario)
END
GO
/****** Object:  StoredProcedure [dbo].[spCargarTipo]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCargarTipo]
@Desc varchar(500),
@img varchar(200)
AS
BEGIN

	insert into Tipo values(@Desc, @img)
END
GO
/****** Object:  StoredProcedure [dbo].[spCargarUsuario]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCargarUsuario]
@nom varchar(50),
@user varchar(50),
@pass varchar(50),
@adm bit

AS
BEGIN

	insert into Usuario values(@nom,@user,HASHBYTES ( 'md5', @pass ),@adm)
END
GO
/****** Object:  StoredProcedure [dbo].[spEliminarProducto]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spEliminarProducto]
@id int

AS
BEGIN

delete from Producto where idProducto = @id

END
GO
/****** Object:  StoredProcedure [dbo].[spSelectUsuario]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSelectUsuario]
@username varchar(200),
@password varchar(200)

AS
BEGIN

select * from Usuario where Username = @username and Password = HASHBYTES ( 'md5', @password )

END
GO
/****** Object:  StoredProcedure [dbo].[spTraerAdmin]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[spTraerAdmin]
@username varchar(200),
@password varchar(200)
AS
BEGIN

select * from Usuario where Username = @username and Password = @password

END
GO
/****** Object:  StoredProcedure [dbo].[spTraerDatosPorId]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[spTraerDatosPorId]
@idProd int

AS
BEGIN

select Descripcion from DatosProducto where DatosProducto.fkProducto = @idProd
END
GO
/****** Object:  StoredProcedure [dbo].[spTraerProductoPorId]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[spTraerProductoPorId]
@id int

AS
BEGIN

select * from producto where idProducto=@id
END
GO
/****** Object:  StoredProcedure [dbo].[spTraerProductoPorTipo]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[spTraerProductoPorTipo] 
@tipo int
AS
BEGIN
select * from Producto where fkTipo = @tipo
END
GO
/****** Object:  StoredProcedure [dbo].[spTraerTipos]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spTraerTipos]

AS
BEGIN
select * from Tipo

END
GO
/****** Object:  StoredProcedure [dbo].[spValidarUsuario]    Script Date: 28/11/2019 08:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spValidarUsuario]
@user varchar(200)
AS
BEGIN
select * from Usuario where Username = @user
END
GO
USE [master]
GO
