<div class="col-lg-4">
    <div class="offer_item">
        <img class="img-fluid" src="img/offer/offer-3.jpg" alt="">
        <div class="offer_text">
            <h4>Addiction Whit Gambling</h4>
            <p>It is a good idea to think of your PC as an office. It stores files, programs, pictures. This can be compared to an actual.</p>
        </div>
    </div>
</div>