<link rel="stylesheet" href="~/Content/bootstrap.css">
<link rel="stylesheet" href="~/Content/style.css">
<link rel="stylesheet" href="~/Content/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/simpleLightbox.css">
<link rel="stylesheet" href="~/Content/nice-selecReferencia a objeto no establecida como instancia de un objeto.'
t.css">
<link rel="stylesheet" href="~/Content/animate.css">
<link rel="stylesheet" href="~/Content/style.css">
<link rel="stylesheet" href="~/Content/responsive.css">
@using Vseller.Models


<h1>Productos</h1>
@foreach (tipo tip in ViewBag.Tipos)
{
    <a href="@Url.Action("ProductosxTipo", "BackOffice", new {IdTipoProd=tip.Id})">
        <div class="col-lg-4">
            <div class="offer_item">
                <img class="img-fluid" src="~/Content/img/@tip.Img" alt="" style=" width:">
                <div class="offer_text">
                    @tip.Desc
                </div>
            </div>
        </div>
    </a>
}



