<link rel="stylesheet" href="~/Content/bootstrap.css">
<link rel="stylesheet" href="~/Content/style.css">
<link rel="stylesheet" href="~/Content/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/simpleLightbox.css">
<link rel="stylesheet" href="~/Content/nice-select.css">
<link rel="stylesheet" href="~/Content/animate.css">
<link rel="stylesheet" href="~/Content/style.css">
<link rel="stylesheet" href="~/Content/responsive.css">
@using Vseller.Models


<table>
    @foreach (Producto prod in ViewBag.Lista)
    {
        <tr>
            <td>
                <img src="~/Content/img/@prod.NomFoto" style=" width:100px" />
            </td>
            <td>
                <p>@prod.Nombre</p>
            </td>
            <td>
                <a href="@Url.Action("Producto", "BackOffice", new { idProd = prod.IdProducto })">
                    <img src="~/Content/img/editicon.png" style=" width:50px" />
                </a>
            </td>
            <td>
                <a href="@Url.Action("Producto", "BackOffice", new { idProd = prod.IdProducto })">
                    <img src="~/Content/img/deleteicon.png" style=" width:50px" />
                </a>
            </td>
        </tr>    
            }
    </table>

